* {
    margin: 0;
    padding: 0;
}
body {
 width: 100%;
 margin: 0 auto;
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
    padding: 0;
    background: #171717;
    justify-content: center;
}

.header-container {
    margin: 0 auto;
    display: flex;
    margin-bottom: 128px;
    padding-top: 46px;
}

.logo-link {
    text-decoration: none;
}

.button {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    margin-left: auto;
    background: #171717;
    color: #E4B564;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}

.icone-phone {
    margin-right: 8px;
    

} 
 .main-page { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    
}
.main-text {
    align-content: center;
    padding-bottom: 161px;
}

.title-container {
    color: #FFFFFF;
}

.title {
    font-family: 'Abel';
    text-align: left;
    font-size: 50px;
}

.subtitle {
    margin-top: 40px;
    font-family: 'Abel';
    font-size: 20px;
    line-height: 28px;

}

.content {
    list-style: none;
    color: #FFFFFF;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(468px,1fr);
    justify-content: center;
    align-content: center;
    gap: 34px 27px;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}

.main-content1 {
    background: #634F2C;
    grid-area: item1;
    align-items: center;
}

.main-content2 {
    background: #B4A385;
    grid-area: item2;
}

.main-content3 {
    background: #E4B564;
    grid-area: item3;
}

.main-content4 {
    background: #635A4A;
    grid-area: item4;
}

.main-content5{
    background: #B08C4D;
    grid-area: item5;
} 

.content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none; 
    font-family: 'Abel';
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.content-link-wight {
    text-align: center;
    padding-left: 44px;
    max-width: 380px;
}

.fleet-content {
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 191px;
}

.catalog-title {
   font-size: 50px;
   line-height: 28px;
   text-align: left;

}

.catalog-item {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "item1 item3 item5 "
    "item1 item3 item5 "
    "item2 item3 item6 "
    "item2 item4 item6 "
    "item2 item4 item7 "
    "item2 item4 item7 ";
    gap: 30px;
    margin-top: 94px;
    color: #FFFFFF;
    list-style: none;
}
ul.catalog-item>li {
    width: 467px;
    min-height: 277px;
}

.item1 {
    background: #0E0E0E;
    grid-area: item1;
}

.item2 {
    background: #1F1F1F;
    grid-area: item2 ;
}

.item3 {
    background: #242424;
    grid-area: item3;
}

.item4 {
    background: #E4B564;
    grid-area: item4;
}

.item5 {
    background: #1F1F1F;
    grid-area: item5;
}

.item6 {
    background: #0E0E0E;
    grid-area: item6;
    padding-bottom: 36px;
}

.item7 {
    background: #0A0909;
    grid-area: item7;
}

.item-link {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    font-family: 'Gilam';
    font-size: 20px;
    line-height: 25px;
    display: flex;
    padding-left: 50px;
    padding-top: 44px;
}

.item-link-color {
    color: #000000;
}

.link-block {
   display: block; 
}

.projects-wrap {
    background: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 172px;
    margin: 0 auto;
}

.projects {
    /* padding-top: 172px;
    margin: 0 auto; */
}

.projects-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF;
}
.btn-link {
    color: #E4B564;
    vertical-align: middle;
    text-decoration: none;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

}

ul.projects-list li{
    min-height: 390px;
    min-width: 487px;
}

.projects-box {
    margin-top: 70px;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
}
.projects-item1 {
    background: #634F2C;
}

.projects-item2 {
    background: rgba(232, 210, 171, 0.76);
}

.projects-item3 {
    background: #E4B564;
}

.projects-item4 {
    background: #635A4A;
}

.projects-item5 {
    background: #B08C4D;
}
.projects-item6 {
    background: #634F2C;
}

.projects-link {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.projects-link2 {
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-img {
  display: block;
} 

.project-text {
    text-align: center;
    font-family: 'Gilam';
    font-size: 22px;
    line-height: 28px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 16px;
}